# Ignore the data file folders
wandb/**
src/wandb/*
*.png
data/*
Models/*
out/*
out_fine_tune/*
raw_data/*
temp/*
*.pdf
# Standard for python in vs code
*.png
.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
src/wandb/latest-run
src/wandb/run-20220304_031822-1qnqpyv2/run-1qnqpyv2.wandb
src/wandb/run-20220304_031822-1qnqpyv2/files/conda-environment.yaml
src/wandb/run-20220304_031822-1qnqpyv2/files/config.yaml
src/wandb/run-20220304_031822-1qnqpyv2/files/output.log
src/wandb/run-20220304_031822-1qnqpyv2/files/requirements.txt
src/wandb/run-20220304_031822-1qnqpyv2/files/wandb-metadata.json
src/wandb/run-20220304_031822-1qnqpyv2/files/wandb-summary.json
src/wandb/run-20220304_032211-3mlwbh7v/run-3mlwbh7v.wandb
src/wandb/run-20220304_032211-3mlwbh7v/files/conda-environment.yaml
src/wandb/run-20220304_032211-3mlwbh7v/files/config.yaml
src/wandb/run-20220304_032211-3mlwbh7v/files/output.log
src/wandb/run-20220304_032211-3mlwbh7v/files/requirements.txt
src/wandb/run-20220304_032211-3mlwbh7v/files/wandb-metadata.json
src/wandb/run-20220304_032211-3mlwbh7v/files/wandb-summary.json
src/wandb/run-20220304_032632-3nsnp6s2/run-3nsnp6s2.wandb
src/wandb/run-20220304_032632-3nsnp6s2/files/conda-environment.yaml
src/wandb/run-20220304_032632-3nsnp6s2/files/config.yaml
src/wandb/run-20220304_032632-3nsnp6s2/files/output.log
src/wandb/run-20220304_032632-3nsnp6s2/files/requirements.txt
src/wandb/run-20220304_032632-3nsnp6s2/files/wandb-metadata.json
src/wandb/run-20220304_032632-3nsnp6s2/files/wandb-summary.json
src/wandb/run-20220304_032733-1ho9zkff/run-1ho9zkff.wandb
src/wandb/run-20220304_032733-1ho9zkff/files/conda-environment.yaml
src/wandb/run-20220304_032733-1ho9zkff/files/config.yaml
src/wandb/run-20220304_032733-1ho9zkff/files/output.log
src/wandb/run-20220304_032733-1ho9zkff/files/requirements.txt
src/wandb/run-20220304_032733-1ho9zkff/files/wandb-metadata.json
src/wandb/run-20220304_032733-1ho9zkff/files/wandb-summary.json
src/wandb/run-20220304_032754-g4i4rjqe/run-g4i4rjqe.wandb
src/wandb/run-20220304_032754-g4i4rjqe/files/conda-environment.yaml
src/wandb/run-20220304_032754-g4i4rjqe/files/config.yaml
src/wandb/run-20220304_032754-g4i4rjqe/files/output.log
src/wandb/run-20220304_032754-g4i4rjqe/files/requirements.txt
src/wandb/run-20220304_032754-g4i4rjqe/files/wandb-metadata.json
src/wandb/run-20220304_032754-g4i4rjqe/files/wandb-summary.json
src/wandb/run-20220304_051005-ovpaseat/run-ovpaseat.wandb
src/wandb/run-20220304_051005-ovpaseat/files/conda-environment.yaml
src/wandb/run-20220304_051005-ovpaseat/files/config.yaml
src/wandb/run-20220304_051005-ovpaseat/files/output.log
src/wandb/run-20220304_051005-ovpaseat/files/requirements.txt
src/wandb/run-20220304_051005-ovpaseat/files/wandb-metadata.json
src/wandb/run-20220304_051005-ovpaseat/files/wandb-summary.json
src/wandb/run-20220304_051542-32692y6w/run-32692y6w.wandb
src/wandb/run-20220304_051542-32692y6w/files/conda-environment.yaml
src/wandb/run-20220304_051542-32692y6w/files/config.yaml
src/wandb/run-20220304_051542-32692y6w/files/output.log
src/wandb/run-20220304_051542-32692y6w/files/requirements.txt
src/wandb/run-20220304_051542-32692y6w/files/wandb-metadata.json
src/wandb/run-20220304_051542-32692y6w/files/wandb-summary.json
src/wandb/run-20220304_053355-1bidyb4s/run-1bidyb4s.wandb
src/wandb/run-20220304_053355-1bidyb4s/files/conda-environment.yaml
src/wandb/run-20220304_053355-1bidyb4s/files/config.yaml
src/wandb/run-20220304_053355-1bidyb4s/files/output.log
src/wandb/run-20220304_053355-1bidyb4s/files/requirements.txt
src/wandb/run-20220304_053355-1bidyb4s/files/wandb-metadata.json
src/wandb/run-20220304_053355-1bidyb4s/files/wandb-summary.json
