XpV0(
    project: "NNgamma",
    containers: {
        "main": (
            command: ["python", "main_script.py"],
            dockerfile: "Dockerfile",
            copy_repo: true,
            wandb: true,

            gpu: 1,
            gpu_mem: "11GB",

            volumes: 
                {"/home/bene/TrainingData_red": "/mnt/xprun/data",
            }
        ),
    }
)
