XpV0(
    project: "NNgamma",
    containers: {
        "main": (
            command: ["python", "main_script.py"],
            dockerfile: "Dockerfile",
            copy_repo: true,

            gpu: 1,
            gpu_mem: "11GB",
            
            env_secrets: {
                "WANDB_API_KEY": "wandb-api-key",
            },
            volumes: 
                //{"/home/bene/TrainingData_red": "/mnt/xprun/data"
                {"/home/bene/TrainingData_red": "/mnt/xprun/data", 
                "/home/bene/NNGamma/NNgamma/TrainingData_test":"/mnt/xprun/data_test", 
                "/home/bene/NNGamma/Models": "/mnt/xprun/out",
                "/home/bene/NNGamma/Plot": "/mnt/xprun/plot"
            },
        ),
    }
)
