XpV0(
    project: "NNgamma",
    containers: {
        "main": (
            command: ["python", "main_script.py"],
            dockerfile: "Dockerfile",
            copy_repo: true,

            gpu: 1,
            gpu_mem: "11GB",
            
            env_secrets: {
                "WANDB_API_KEY": "wandb-api-key",
            },
            volumes: 
                {"/home/bene/NNGamma/data_red": "/mnt/xprun/data_red",
                "/home/bene/NNGamma/data_red_no_tail": "/mnt/xprun/data_red_no_tail", 
                "/home/bene/NNGamma/data_red_neg": "/mnt/xprun/data_red_neg", 
                "/home/bene/NNGamma/data_red_no_tail_neg": "/mnt/xprun/data_red_no_tail_neg", 
                "/home/bene/NNGamma/Models": "/mnt/xprun/out",
                "/home/bene/NNGamma/Plot": "/mnt/xprun/plot"
            },
        ),
    }
)
