brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.4
conda-content-trust==0+unknown
conda-package-handling==1.7.3
conda==4.11.0
cryptography==36.0.0
cycler==0.11.0
docker-pycreds==0.4.0
fonttools==4.31.2
gitdb==4.0.9
gitpython==3.1.27
idna==3.3
kiwisolver==1.4.0
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pathtools==0.1.2
pillow==9.0.1
pip==21.2.4
progressbar2==4.0.0
promise==2.3
protobuf==3.19.4
psutil==5.9.0
pycosat==0.6.3
pycparser==2.21
pyopenssl==21.0.0
pyparsing==3.0.7
pysocks==1.7.1
python-dateutil==2.8.2
python-utils==3.1.0
pytz==2022.1
pyyaml==6.0
requests==2.27.1
ruamel-yaml-conda==0.15.100
scipy==1.8.0
sentry-sdk==1.5.8
setproctitle==1.2.2
setuptools==58.0.4
shortuuid==1.0.8
six==1.16.0
smmap==5.0.0
termcolor==1.1.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.62.3
typing-extensions==4.1.1
urllib3==1.26.7
wandb==0.12.11
wheel==0.37.1
yaspin==2.1.0